<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>盛世娇宠之名门闺香,盛世娇宠之名门闺香全文阅读,盛世娇宠之名门闺香最新章节,Foxes小说网</title>
    <meta content="盛世娇宠之名门闺香,盛世娇宠之名门闺香全文阅读,盛世娇宠之名门闺香最新章节,盛世娇宠之名门闺香" name="keywords" />
    <meta content="提供盛世娇宠之名门闺香全文阅读,提供盛世娇宠之名门闺香最新章节阅读,盛世娇宠之名门闺香免费下载,本书标签 " name="description" />
    <meta http-equiv="mobile-agent" content="format=html5; url=https://m.xxsy.net/info/949361.html" />
    <meta http-equiv="mobile-agent" content="format=xhtml; url=https://g.xxsy.net/info/949361.html" />
    <meta http-equiv="mobile-agent" content="format=wml; url=https://g.xxsy.net/info/949361.html" />
    <meta property="qc:admins" content="1451570347600316654" />
    <meta property="og:type" content="novel" />
    <meta property="og:title" content="盛世娇宠之名门闺香" />
    <meta property="og:description"
        content="她是簪缨世家的嫡长女，生而尊贵，天资卓绝，却被重生堂妹视为了垫脚石，溺水而亡，死得不明不白。再睁开眼睛，她成了尚书府的痴傻儿端木绯。重生前，她是天之娇女，京城明珠。重生后，她是废物草包，受尽耻笑辱骂。当她成为了她，从再次睁眼的那一刹那，她万丈光芒，风华崛起！护至亲，诛仇人。举手间，掌乾坤。谈笑中，定朝局。从此，尚书府天翻地覆；从此，大盛朝多了一位人人闻之色变的“小祖宗”。这一世，她斗得风声水起，玩得不亦乐乎，没想到，身旁总有一个人细心呵护。原来两世，她都是那人心口的朱砂痣。他背负血海深仇，桀骜不驯，唯独对她，拿命宠着。小剧场：一日，她问他：世间谤我、欺我、辱我、笑我、轻我、贱我、恶我、骗我、如何处治乎？他答：揍他、揍他、揍他、揍他、揍他、揍他、揍他、狠狠揍他！已完结文：《盛宠之嫡女医妃》，欢迎入坑。" />
    <meta property="og:image" content="https://images.xxsy.net/img/949361.jpg" />
    <meta property="og:novel:category" content="古言" />
    <meta property="og:novel:author" content="天泠" />
    <meta property="og:novel:book_name" content="盛世娇宠之名门闺香" />
    <meta property="og:novel:read_url" content="https://www.xxsy.net/info/949361.html" />
    <meta property="og:url" content="https://www.xxsy.net/info/949361.html" />
    <meta property="og:novel:status" content="已完成" />
    <meta property="og:novel:update_time" content="2020-05-26 16:13:18" />
    <meta property="og:novel:latest_chapter_name" content="番外036成亲" />
    <meta property="og:novel:latest_chapter_url" content="https://www.xxsy.net/chapter/91379127.html" />
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="360-site-verification" content="9cb9cc707f89ad716643f082207a632a" />
    <link href="../css/menutop.css" rel="stylesheet" type="text/css" />

    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/global.css" rel="stylesheet" type="text/css" />

    <link href="../css/base.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/JQBox.css" />

    <link href="../css/authorbonus.css" rel="stylesheet" />
    <link href="../css/quanzi.css" rel="stylesheet" type="text/css" />
    <link href="../css/pagestatic.css" rel="stylesheet" />

    <script>
        function getCookieValue(cookieName) {
            var arr, reg = new RegExp("(^| )" + cookieName + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg))
                return (arr[2]);
            else
                return null;
        }
        if (getCookieValue('norefm') != 1 && /Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator
                .userAgent)) {
            top.location.href = "https://m.xxsy.net/info/949361.html";
        }
    </script>
</head>

<body>
    <div class="top-menu">
        <div class="container">
            <div class="download-app">
                <a class="app-android" href="/download.html" target="_blank"><i
                        class="iconfont">&#xe607;</i>Android版</a>
                <a class="app-ios" href="/download.html" target="_blank"><i class="iconfont">&#xe60b;</i>iOS版</a><a
                    class="app-index" href="//www.xxsy.net/">首页</a>
            </div>
            <div class="guide-menu">
                <div class="column" id="loginaction"><a href="javascript:void(0);" class="login"
                        id="headerLogin">登录</a>&ensp;<a href="/Reg" class="register" target="_blank"
                        rel="nofollow">注册</a></div>
                <div class="column" id="userinfo" style="display: none;"><a href="/control" id="username"
                        target="_blank" rel="nofollow"></a>&ensp;<a href="javascript:" class="register"
                        id="logout">退出</a></div>
                <div class="column more bookcase" id="menubookcase">
                    <a href="javascript:void(0);" class="my-book" id="mybookcase">我的书架</a>
                    <em><i></i></em>
                    <div id="menucnt2" class="menu-ct menu-ct-2">
                        <div id="mybc">
                            <span class="off"></span>
                            <span id="head_select_2" class="off" onclick="menuBookCase.setBookCaseTab(2)">我的书签</span>
                            <span id="head_select_1" class="on" onclick="menuBookCase.setBookCaseTab(1)">我的书架</span>
                            <span class="rblank"></span>
                        </div>
                        <ul id="mybctitle">
                            <li class="n0">序</li>
                            <li class="n1">书名</li>
                            <li class="n2">标签章节(加入时间)</li>
                            <li class="n3">作者</li>
                            <li class="n4">操作</li>
                        </ul>
                        <ul id="mybcasecnt1" class="menumybclist">
                            <div style="height:200px!important;line-height:200px!important;"><img border=0
                                    style="width:32px;height:32px;" src="" />正在加载数据...
                            </div>
                        </ul>
                        <ul id="mybcasecnt2" class="menumybclist" style="display:none;">
                            <div style="height:200px!important;line-height:200px!important;"><img border=0
                                    style="width:32px;height:32px;" src="" />正在加载数据...
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="column"><a href="/help/uhelp.html" class="service" target="_blank" rel="nofollow">联系客服</a>
                </div>
            </div>
            <ul class="menu-style cl">
                <li><a href="/category/1.html" class=''>古代言情</a></li>
                <li><a href="/category/2.html" class=''>现代言情</a></li>
                <li><a href="/category/3.html" class=''>玄幻仙侠</a></li>
                <li><a href="/category/6.html" class=''>浪漫青春</a></li>
                <li><a href="/category/5.html" class=''>悬疑</a></li>
                <li><a href="/ip.html" class=''>改编频道</a></li>
                <li><a href="/search?channel=1">男生频道</a></li>
                <li><a href="/comic" class=''>漫画频道</a></li>

            </ul>
        </div>
    </div>
    <input id="pagetoken" value="c21940f1e87a93cb24e35ccebe181269" type="hidden">
    <script>
        window._pageToken = document.getElementById('pagetoken').value;
    </script>


    <div class="header header-detail">
        <div class="container">
            <div class="top-main cl">
                <a href="/index.html" class="logo">
                    <img src="" alt="Foxes小说网" />
                </a>
                <div class="guide-writer"><a class="become" href="http://author.xxsy.net" target="_blank"><i
                            class="iconfont">&#xe687;</i>我要当作家</a><a class="welfare"
                        href="//images.xxsy.net/xxhtml/zuozhefulinew/index.html" target="_blank"><i
                            class="iconfont">&#xe600;</i>作家福利</a></div>
                <div class="search-bar">
                    <form id="hform" name="hform" action="/search" method="get" target="_blank">
                        <input type="text" class="search-text" placeholder="公主她在现代星光璀璨" name="s_wd"
                            id="searchkeyword"><span class="search-btn-bar"><i class="iconfont">&#xe627;</i><input
                                type="submit" value="" class="search-btn" id="gosearch"></span>
                    </form>
                </div>
            </div>
            <div class="area_1200">
                <a href="https://images.xxsy.net/xxhtml/2020/duanwu/pre.html?v=1" target="_blank"><img
                        src="https://images.xxsy.net/flimg/recommend/c20200618103530.jpg" class="bigimg"></a>
            </div>
        </div>
    </div>
    <!-- end header -->
    <div class="content">
        <div class="container">
            <p class="bread">当前位置：<a href="/index.html" target="_blank">foxes小说网首页</a>&gt;<a href="/Category/1.html"
                    target="_blank" th:text="${category.name}"></a>&gt;[[${book.name}]]</p>
            <div class="bookdetail cl">
                <dl class="bookprofile">
                    <dt>
                        <img th:src="${book.image}" th:alt="${book.name}">
                    </dt>
                    <dd>
                        <div class="title">
                            <a href="javascript:;" class="read-by-phone" onclick="commonBox.appBox();"><i
                                    class="iconfont">&#xe63e;</i>手机阅读</a>
                            <h1 th:text="${book.name}"></h1>
                            <span>
                                文&nbsp;/&nbsp;<a href="/index.html" target="_blank" th:text="${book.author}"></a>
                            </span>
                        </div>
                        <p class="sub-cols">
                            <span>会员作品</span>
                            <span th:if="${book.status==1}">已完结</span>
                            <span th:if="${book.status==0}">未完结</span>
                            <span>类别：[[${category.name}]]</span>
                            <span>发布：[[${#dates.format(book.releaseTime,'yyyy-MM-dd')}]]</span>
                        </p>
                        <p class="sub-data">
                            <span><em th:text="${book.wordsNum/10000}"></em><em>万</em>字</span><span><em th:text="${book.readNum/10000}"></em><em>万</em>阅读</span><span><em th:text="${book.subscribeNum}"></em>收藏</span></p>
                        <p class="sub-tags">
                        </p>
                        <div class="sub-newest">
                            <p>最新公共章节：<a th:href="|/chapter/${book.id}/${lastChapter.html}|" target="_blank" th:text="${lastChapter.name}"></a>
                                <span class="time" th:text="${#dates.format(lastChapter.updateTime,'yyyy-MM-dd')}"></span></p>
                            <p>最新VIP章节：<a th:href="|/chapter/${book.id}/${lastChapter.html}|" target="_blank" th:text="${lastChapter.name}"></a>
                                <span class="time" th:text="${#dates.format(lastChapter.updateTime,'yyyy-MM-dd')}"></span></p>
                        </div>
                        <div class="book-btns">
                            <a class="btn_read" th:href="|/chapter/${book.id}/${firstChapter.html}|">开始阅读</a>
                            <a class='btn_shelf ' href="javascript:">加入书架</a>
                            <a class="btn_vote showgiftbox" href="javascript:" data-index="1">投票互动</a>
                            <a class="btn_play showgiftbox" href="javascript:" data-index="2">打赏支持</a>
                        </div>
                        <div class="score-bar">
                            <p class="active">本书评价<span>（已有1880人评价）</span></p>
                            <div class="score-show">
                                <!--<div id="bookstar" data-score="5.0"></div>-->
                                <div id="curscore"></div>
                                <a href="javascript:;" class="appraisal-btn showgiftbox" id="appraisal-btn"
                                    data-index="0">我要评价</a>
                            </div>
                        </div>
                    </dd>
                </dl>

                <div class="box-con other-book">
                    <div class="box-hd">
                        <h3 class="active">作者其他</h3>
                    </div>
                    <div class="box-bd freebook other-book-slider">
                        <div class="wrap">
                            <ul class="freeslider">
                                <li>
                                    <a href="book.html" target="_blank">
                                        <img src="">
                                    </a>
                                    <h4><a href="/info/1441380.html" target="_blank">锦绣医妃之庶女凰途</a></h4>
                                    <p class="btns"><a href="javascript:;" class="red-btn othershelf"
                                            data-bookid="1441380">放入书架</a></p>
                                </li>
                                <li>
                                    <a href="book.html" target="_blank">
                                        <img src="">
                                    </a>
                                    <h4><a href="book.html" target="_blank">盛宠之嫡女医妃</a></h4>
                                    <p class="btns"><a href="javascript:;" class="red-btn othershelf"
                                            data-bookid="801802">放入书架</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-con book-detail-tab tab-click" id="app">
                <div class="box-hd click-hd">
                    <h3 class="active">作品介绍</h3>
                    <h3 id="chapterllisttab">作品目录</h3>
                    <a class="link_discuss" href="javascript:;">作品讨论区</a>

                </div>
                <div class="click-bd">
                    <div class="works-main cl">
                        <div class="profile-main">
                            <div class="book-profile">
                                <dl class="introcontent">
                                    <dd>
                                        <p th:text="${book.abstracts}"></p>
                                    </dd>
                                </dl>
                                <div><span class="btn-show" style="display: none;">展开<i
                                            class="iconfont">&#xe601;</i></span></div>
                            </div>
                            <div class="fans-interact">
                                <h3 class="profile-main-title">
                                    粉丝互动
                                </h3>
                                <div class="bd cl" id="fansinfo">
                                    <p class="textloading">正在加载 . . .</p>
                                </div>
                            </div>
                            <div class="maylike">
                                <h3 class="profile-main-title">喜欢这作品的人还喜欢</h3>
                                <ul class="unusual-list unusual-heng-list cl">

                                    <li>
                                        <a class="book" href="/info/1360951.html?refpageid=samebook" target="_blank">
                                            <img src=""></a>
                                        <div class="info">
                                            <h4><a href="/info/1360951.html?refpageid=samebook"
                                                    target="_blank">盛世医香之锦绣凉缘</a></h4>
                                            <p class="subtitle">浮梦公子&ensp;/&ensp;著</p>
                                            <p class="detail">顾家大小姐声名远扬，不以美貌，不以才华，只凭“倒霉”二字。金牌医师顾锦璃名噪一时，因...</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="book" href="/info/1074070.html?refpageid=samebook" target="_blank">
                                            <img src=""></a>
                                        <div class="info">
                                            <h4><a href="/info/1074070.html?refpageid=samebook"
                                                    target="_blank">至尊神医之帝君要下嫁</a></h4>
                                            <p class="subtitle">战西野&ensp;/&ensp;著</p>
                                            <p class="detail">前世，她是地位尊崇的天命帝姬，却在大婚前夕，遭遇背叛，自焚而亡！重生为破落世家的废柴...</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="book" href="/info/1363431.html?refpageid=samebook" target="_blank">
                                            <img src=""></a>
                                        <div class="info">
                                            <h4><a href="/info/1363431.html?refpageid=samebook"
                                                    target="_blank">婚后被大佬惯坏了</a></h4>
                                            <p class="subtitle">月初姣姣&ensp;/&ensp;著</p>
                                            <p class="detail">【苏爽虐渣，婚后相爱，双向暗恋，佛系大佬vs娇软甜妻】初见之时，唐菀感慨：这江五爷真...</p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="discuss_content tab-con onlyclick" id="discuss_content">

                                <h3 class="profile-main-title">作品讨论区</h3>
                                <div class="tab-bd">
                                    <div style="margin:50px auto;color:#999;font-size:14px;text-align:center;">
                                        <img src="">
                                        <p>下载客户端，获取更多内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-side">
                            <div class="author-profile">
                                <a href="javascript:;" title="金牌作家"><span class="author-prize" id="authorlevel"
                                        style="display:none;"></span></a>
                                <a href="/authorcenter/258020.html" target="_blank"><img class="avatar"
                                        src=""></a>
                                <p class="p-name"><a href="/authorcenter/258020.html" target="_blank">天泠</a></p>
                                <div class="p-saying">
                                    <div class="over-box">
                                        <div id="authorintro"></div>
                                    </div>
                                    <p class="over-btn" style="display:none;"><i class="iconfont">&#xe601;</i></p>
                                </div>
                            </div>

                            <div class="box-con tab-con products-tab">
                                <div class="box-hd tab-hd">
                                    <h3 class="active">优秀作品</h3>
                                    <h3>完结作品</h3>
                                </div>
                                <div class="box-bd tab-bd">
                                    <div class="bd-main">
                                        <dl class="dl-list">
                                            <dd><span class="classify">[古言]</span><span class="author">又浪又慢</span><a
                                                    href="/info/1420454.html" target="_blank" xid="1088088"
                                                    tid="391">女帝重生之逢公子</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">夜寒梓</span><a
                                                    href="/info/1350562.html" target="_blank" xid="1088101"
                                                    tid="398">林家娇女种田忙</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">思羽长安</span><a
                                                    href="/info/1398276.html" target="_blank" xid="1088091"
                                                    tid="391">顾少你老婆要翻天了</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">耳东蔚然</span><a
                                                    href="/info/1416135.html" target="_blank" xid="1085308"
                                                    tid="381">未婚妻她突然变A了</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">尤妮丝</span><a
                                                    href="/info/1418069.html" target="_blank" xid="1088099"
                                                    tid="398">清穿咸鱼攻略</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">时舒影</span><a
                                                    href="/info/1402994.html" target="_blank" xid="1088093"
                                                    tid="391">穿书奇缘之爱上男二</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">雪年年</span><a
                                                    href="/info/1357082.html" target="_blank" xid="1088090"
                                                    tid="391">盛世豪门之夫人又凶又萌</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">花间妖</span><a
                                                    href="/info/1412616.html" target="_blank" xid="1088102"
                                                    tid="398">村花小妻凶又甜</a></dd>
                                            <dd><span class="classify">[现实]</span><span class="author">暗夜璨枭</span><a
                                                    href="/info/1412177.html" target="_blank" xid="1088103"
                                                    tid="398">最美逆行者之时代圆梦</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">树幺幺</span><a
                                                    href="/info/1356898.html" target="_blank" xid="1088089"
                                                    tid="391">亲爱的沐先生</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">关涩</span><a
                                                    href="/info/1410279.html" target="_blank" xid="1088104"
                                                    tid="398">重生之太女殿下又飘了</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">一见安和</span><a
                                                    href="/info/1430213.html" target="_blank" xid="1088083"
                                                    tid="380">我养大的孩子太监了</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">渐进淡出</span><a
                                                    href="/info/1372809.html" target="_blank" xid="1088100"
                                                    tid="398">农女福妃名动天下</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">画江</span><a
                                                    href="/info/1410169.html" target="_blank" xid="1088110"
                                                    tid="402">皇后是门技术活</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">墨染清安</span><a
                                                    href="/info/1379377.html" target="_blank" xid="1088092"
                                                    tid="391">重生食神学霸不软萌</a></dd>
                                        </dl>
                                    </div>
                                    <div class="bd-main" style="display: none">
                                        <dl class="dl-list">
                                            <dd><span class="classify">[古言]</span><span class="author">妖治天下</span><a
                                                    href="/info/1077202.html" target="_blank" xid="1088107"
                                                    tid="401">家有庶夫套路深</a></dd>
                                            <dd><span class="classify">[科幻]</span><span class="author">蜜语心言</span><a
                                                    href="/info/976640.html" target="_blank" xid="1088097"
                                                    tid="395">快穿之炮灰的开挂人生</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">坐酌泠泠水</span><a
                                                    href="/info/971702.html" target="_blank" xid="1088109"
                                                    tid="401">古代农家日常</a></dd>
                                            <dd><span class="classify">[仙侠]</span><span class="author">金铃动</span><a
                                                    href="/info/1064756.html" target="_blank" xid="1088111"
                                                    tid="403">极品女仙</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">一只小胖</span><a
                                                    href="/info/1103667.html" target="_blank" xid="1088098"
                                                    tid="395">重生农家清荷</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">情非缘浅</span><a
                                                    href="/info/924814.html" target="_blank" xid="1088108"
                                                    tid="401">步步逼婚之甜蜜暴击</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">京剧猫</span><a
                                                    href="/info/1344790.html" target="_blank" xid="1088085"
                                                    tid="383">隔壁大佬又帅又苏</a></dd>
                                            <dd><span class="classify">[青春]</span><span class="author">依琴翩飞</span><a
                                                    href="/info/977785.html" target="_blank" xid="1088084"
                                                    tid="383">重生学霸小甜妻</a></dd>
                                            <dd><span class="classify">[现言]</span><span class="author">酷美人</span><a
                                                    href="/info/1366017.html" target="_blank" xid="1088087"
                                                    tid="384">九十年代美好生活</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">天泠</span><a
                                                    href="/info/949361.html" target="_blank" xid="1088095"
                                                    tid="395">盛世娇宠之名门闺香</a></dd>
                                            <dd><span class="classify">[科幻]</span><span class="author">旺财是只喵</span><a
                                                    href="/info/969725.html" target="_blank" xid="1088105"
                                                    tid="401">快穿之每次都是我躺枪</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">风雨归来兮</span><a
                                                    href="/info/1096243.html" target="_blank" xid="1088094"
                                                    tid="395">病娇毒妃狠绝色</a></dd>
                                            <dd><span class="classify">[科幻]</span><span class="author">谢君顾</span><a
                                                    href="/info/1335701.html" target="_blank" xid="1088096"
                                                    tid="395">快穿美食直播间</a></dd>
                                            <dd><span class="classify">[古言]</span><span class="author">酒心小草莓</span><a
                                                    href="/info/1355874.html" target="_blank" xid="1088086"
                                                    tid="384">重生美人爱种田</a></dd>
                                            <dd><span class="classify">[玄幻]</span><span class="author">莉莉薇</span><a
                                                    href="/info/967746.html" target="_blank" xid="1088106"
                                                    tid="401">喜劫良缘</a></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="box-con products-tab">
                                <div class="box-hd">
                                    <h3 class="active">编辑组推荐</h3>
                                </div>
                                <div class="box-bd">
                                    <dl class="dl-list">
                                        <dd><span class="classify">[现言]</span><span class="author">山野点雾灯</span><a
                                                href="/info/1440584.html" target="_blank" xid="1088024"
                                                tid="386">他作精病娇还黑莲花</a></dd>
                                        <dd><span class="classify">[古言]</span><span class="author">维兮唯兮</span><a
                                                href="/info/1445988.html" target="_blank" xid="1088025"
                                                tid="386">将门新妻</a></dd>
                                        <dd><span class="classify">[古言]</span><span class="author">木昔麦禾</span><a
                                                href="/info/1441422.html" target="_blank" xid="1088035"
                                                tid="387">郡主她奉旨出嫁</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">铛铛</span><a
                                                href="/info/1442411.html" target="_blank" xid="1088031"
                                                tid="387">穿书后我成了反派的心头宝</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">掌柜有糖</span><a
                                                href="/info/1446030.html" target="_blank" xid="1088033"
                                                tid="387">这个书粉欠收拾</a></dd>
                                        <dd><span class="classify">[古言]</span><span class="author">南瓜不在忧伤</span><a
                                                href="/info/1443426.html" target="_blank" xid="1088037"
                                                tid="388">古代末日生存录</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">小二园</span><a
                                                href="/info/1445426.html" target="_blank" xid="1088029"
                                                tid="386">老公是高岭之花</a></dd>
                                        <dd><span class="classify">[古言]</span><span class="author">晏晏其语</span><a
                                                href="/info/1439606.html" target="_blank" xid="1088023"
                                                tid="386">帝姬今天不想出门</a></dd>
                                        <dd><span class="classify">[科幻]</span><span class="author">薄荷水冰沙</span><a
                                                href="/info/1427035.html" target="_blank" xid="1088036"
                                                tid="387">快穿骑士攻略系统</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">竹篱清茶</span><a
                                                href="/info/1444139.html" target="_blank" xid="1088034"
                                                tid="387">重生之我有灵泉</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">蓁越</span><a
                                                href="/info/1434985.html" target="_blank" xid="1088032"
                                                tid="387">独家娇宠已上线</a></dd>
                                        <dd><span class="classify">[古言]</span><span class="author">蝶舞芳踪</span><a
                                                href="/info/1379719.html" target="_blank" xid="1088030"
                                                tid="387">穿越之安然的小日子</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">风梧</span><a
                                                href="/info/1441363.html" target="_blank" xid="1088027"
                                                tid="386">不想跟大佬谈恋爱</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">秋天的信</span><a
                                                href="/info/1436305.html" target="_blank" xid="1088026"
                                                tid="386">重生之倩女纪事</a></dd>
                                        <dd><span class="classify">[现言]</span><span class="author">松鼠鱼的果仁</span><a
                                                href="/info/1439176.html" target="_blank" xid="1088028"
                                                tid="386">酿爱情的咖啡</a></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="box-con tab bang-tab">
                                <div class="box-hd hd">
                                    <h3 class="active">月票榜</h3>
                                    <h3>打赏榜</h3>
                                </div>
                                <div class="bd">
                                    <ul class="ranking-list">
                                        <li class="n1">
                                            <a class="book" href="/info/1072387.html" target="_blank">
                                                <img src="">
                                            </a>
                                            <div class="detail">
                                                <span class="num">NO.1</span>
                                                <p class="name"><a href="/info/1072387.html" target="_blank">山河盛宴</a>
                                                </p>
                                                <p class="piao"><em>4990</em>月票</p>
                                                <p class="author">古言&ensp;|&ensp;天下归元</p>
                                            </div>
                                        </li>
                                        <li class="n2">
                                            <span class="piao">3862</span>
                                            <span class="num">2</span>
                                            <p><a href="/info/1406701.html" target="_blank">大神你人设崩了</a></p>
                                        </li>
                                        <li class="n3">
                                            <span class="piao">2874</span>
                                            <span class="num">3</span>
                                            <p><a href="/info/1099917.html" target="_blank">我全家都是穿来的</a></p>
                                        </li>
                                        <li class="n4">
                                            <span class="piao">2559</span>
                                            <span class="num">4</span>
                                            <p><a href="/info/1363431.html" target="_blank">婚后被大佬惯坏了</a></p>
                                        </li>
                                        <li class="n5">
                                            <span class="piao">2455</span>
                                            <span class="num">5</span>
                                            <p><a href="/info/1382225.html" target="_blank">席爷每天都想官宣</a></p>
                                        </li>
                                        <li class="n6">
                                            <span class="piao">2434</span>
                                            <span class="num">6</span>
                                            <p><a href="/info/971626.html" target="_blank">前方高能</a></p>
                                        </li>
                                        <li class="n7">
                                            <span class="piao">2426</span>
                                            <span class="num">7</span>
                                            <p><a href="/info/1429968.html" target="_blank">问丹朱</a></p>
                                        </li>
                                        <li class="n8">
                                            <span class="piao">2122</span>
                                            <span class="num">8</span>
                                            <p><a href="/info/1382598.html" target="_blank">纨绔天医</a></p>
                                        </li>
                                        <li class="n9">
                                            <span class="piao">2095</span>
                                            <span class="num">9</span>
                                            <p><a href="/info/1349331.html" target="_blank">红尘篱落</a></p>
                                        </li>
                                        <li class="n10">
                                            <span class="piao">1826</span>
                                            <span class="num">10</span>
                                            <p><a href="/info/1093857.html" target="_blank">龙飞凤仵</a></p>
                                        </li>
                                    </ul>
                                    <ul class="ranking-list" style="display: none">
                                        <li class="n1">
                                            <a class="book" href="/info/1406701.html" target="_blank">
                                                <img data-src="">
                                            </a>
                                            <div class="detail">
                                                <span class="num">NO.1</span>
                                                <p class="name"><a href="/info/1406701.html" target="_blank">大神你人设崩了</a>
                                                </p>
                                                <p class="author" style="margin-top:26px;">现言&ensp;|&ensp;一路烦花</p>
                                            </div>
                                        </li>
                                        <li class="n2">
                                            <span class="num">2</span>
                                            <p><a href="/info/1447650.html" target="_blank">爱在随遇而安</a></p>
                                        </li>
                                        <li class="n3">
                                            <span class="num">3</span>
                                            <p><a href="/info/1363450.html" target="_blank">人人都爱于休休</a></p>
                                        </li>
                                        <li class="n4">
                                            <span class="num">4</span>
                                            <p><a href="/info/1071347.html" target="_blank">绝世倾城之尊主归来</a></p>
                                        </li>
                                        <li class="n5">
                                            <span class="num">5</span>
                                            <p><a href="/info/1444877.html" target="_blank">今天大佬又不做人了</a></p>
                                        </li>
                                        <li class="n6">
                                            <span class="num">6</span>
                                            <p><a href="/info/1408580.html" target="_blank">徒儿你自寻死路</a></p>
                                        </li>
                                        <li class="n7">
                                            <span class="num">7</span>
                                            <p><a href="/info/1425251.html" target="_blank">重生王妃太难哄</a></p>
                                        </li>
                                        <li class="n8">
                                            <span class="num">8</span>
                                            <p><a href="/info/1406896.html" target="_blank">豪门谋婚之大佬宠妻入骨</a></p>
                                        </li>
                                        <li class="n9">
                                            <span class="num">9</span>
                                            <p><a href="/info/1415031.html" target="_blank">穿越农女要回家</a></p>
                                        </li>
                                        <li class="n10">
                                            <span class="num">10</span>
                                            <p><a href="/info/1072387.html" target="_blank">山河盛宴</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="works-main catalog" style="display: none">
                        <div class="fix" id="chapterlist">
                            <!--<p class="chapterlistloading">正在加载 . . .</p>-->
                            <dd>
                                <ul class="catalog-list cl">
                                    <li th:each="chapter,chapterStat:${chapterList}">
                                        <a th:href="|/chapter/${book.id}/${chapter.html}|" target="_blank" th:text="${chapter.name}"></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                        <a href="javascript:scrollTo(0,0)" class="back-top" id="back-top"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹出框 -->
    <div class="overwrap" id="giftBox" style="display: none;">
        <div class="cover"></div>
        <div class="useraction">
            <span class="closebtn iconfont" id="giftboxclose">&#xe622;</span>
            <div id="giftBoxConetnt">
                <p class="giftboxloading">正在加载 . . .</p>
            </div>
        </div>
    </div>
    <!-- 红包规则 -->
    <div class="popbox line-box rule-box hongbao-rule">
        <span class="closeBoxBtn" onclick="javascript: authorBonus.showBonusRule(false)">关闭</span>
        <div class="line-box-main">
            <dl>
                <dt>红包规则</dt>
                <dd>1. 作者红包是由作者设定领取条件后发放，用户在满足条件后领取获得的红包奖励。</dd>
                <dd>2. 作者红包有三种类型：收藏红包、订阅红包、月票红包。</dd>
                <dd>3. 收藏红包：收藏过该作品后，才能抢红包，单个作品下的收藏红包每个用户只能抢一次。</dd>
                <dd>4. 订阅红包：在订阅红包开启时（红包有效期48小时内）订阅（只限潇湘币和元宝订阅）该作品才能抢红包，每个订阅红包每个用户只能抢一次。</dd>
                <dd>5. 月票红包：单用户给该作品投月票数量=可抢该作品月票红包次数，投1张月票可抢1次，投2张月票可抢2次，以此类推，每次抢红包后扣除相应次数。单个月票红包同一用户可抢多次，抢红包次数仅限当月有效。
                </dd>
                <dd>6. 你可以在红包领取记录和【个人中心】-【我的钱包】-【奖励记录】中 查看你领取的红包详情。</dd>
            </dl>
        </div>
    </div>
    <div style="position:fixed;right:10px;bottom:10px;" id="weappimg">
        <div>
            <img src="" />
            <p>foxes小程序上线</p>
            <p>打开微信扫一扫</p>
            <i class="iconfont">&#xe622;</i>
        </div>
    </div>
    <input type="hidden" value="天泠" id="authorname_value">
    <div class="footer">
        <div class="container">
            <div class="map-menu"><a href="" target="_blank" rel="nofollow">关于本站</a><a href="" target="_blank"
                    rel="nofollow">联系我们</a><a href="/help/uhelp.html" target="_blank" rel="nofollow">会员帮助</a><a
                    href="/help/ahelp.html" target="_blank" rel="nofollow">作者帮助</a></div>

        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/JQBox.js"></script>
    <script src="/js/Util.js"></script>
    <script src="/js/newmenutop.js"></script>

    <script src="/js/commonbox.js"></script>
    <script src="/js/lazyimgload.js"></script>
    <script src="/js/statpage_pc.js"></script>
    <div id="statdiv" style="display:none;"></div>
    <script>
        setTimeout(function () {
            if (location.href.toString().indexOf("xdindex.html") < 0 && location.href.toString().indexOf(
                    "gyindex.html") < 0 && location.href.toString().indexOf("xhindex.html") < 0) {
                $('#statdiv').append(
                    '<script src="https://s13.cnzz.com/stat.php?id=1275068004&web_id=1275068004" language="JavaScript"><\/script>'
                    );
            }

            //百度统计
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            $('#statdiv').append(unescape("%3Cscript src='" + _bdhmProtocol +
                "hm.baidu.com/h.js%3Fa574454240bf693f1d8415a3915f25ff' type='text/javascript'%3E%3C/script%3E"
                ));
            //cnzz统计
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            $('#statdiv').append(unescape(
                "%3Cspan id='cnzz_stat_icon_1275068799'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol +
                "w.cnzz.com/c.php%3Fid%3D1275068799%26l%3D3' type='text/javascript'%3E%3C/script%3E"));
        }, 200);
    </script>
    <script src="/js/jquery.bxslider.min.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/jquery.raty.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/userinfo.js"></script>
    <script src="/js/giftrecharge.js"></script>

    <script src="/js/gift.js"></script>

    <script src="/js/chapterlist.js"></script>

    <script src="/js/commentaction.js"></script>
    <script src="/js/bookreivew.js"></script>
    <script src="/js/bookinfo.js"></script>

    <!-- 作者红包 -->
    <script src="/js/authorbonus.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/showshare.js"></script>
    <script src="/js/giftredpackage.js"></script>

    <script>
        var obj = {
            hasLogin: parseInt(0),
            bookid: parseInt(949361),
            bookname: '盛世娇宠之名门闺香',
            isvip: parseInt(1),
            allbuy: parseInt(0),
            limitFree: '' != '',
            special: parseInt(0),
            fansCount: parseInt(24898),
            bonusType: parseInt(0),
            authorLevel: '金牌作家',
            maxChapterId: parseInt(0),
            isMonthly: parseInt(0)
        }
        Init(obj);

        $('#weappimg i').click(function () {
            $('#weappimg').remove();
        })

        var _giftId = parseInt(0);
        if (_giftId > 0) {
            giftPackage.openPackage(_giftId, obj.bookid, '');
        }

        if (parseInt(0) == 1) {
            $(".tab-click .click-hd h3").click();
        }
    </script>


    <script src="/js/commendclickbyjquery.js"></script>
</body>

</html>