<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>免费小说-Foxes小说网|玄幻小说,重生小说,种田文,都市言情,穿越小说</title>
    <meta name="keywords" content="言情小说阅读,言情小说下载"/>
    <meta name="baidu-site-verification" content="WH2Y6C0hY3"/>
    <meta name="description" content="专业女性言情小说网站，拥有穿越小说，架空小说，都市小说，玄幻小说，校园小说等20多万部，是最大的小说网站"/>
    <meta http-equiv="mobile-agent" content="format=html5; url=https://localhost"/>
    <meta http-equiv="mobile-agent" content="format=xhtml; url=https://localhost"/>
    <meta property="qc:admins" content="1451570347600316654"/>
    <link href="css/pagestatic.css" rel="stylesheet"/>

    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="360-site-verification" content="9cb9cc707f89ad716643f082207a632a"/>
    <link href="css/menutop.css" rel="stylesheet" type="text/css"/>

    <link href="css/iconfont.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet" type="text/css"/>
    <script src="js/cookie.js"></script>
    <script src="js/vue.js"></script>

    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/JQBox.css"/>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
    <script>


        
        function getCookieValue(cookieName) {
            var arr, reg = new RegExp("(^| )" + cookieName + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg))
                return (arr[2]);
            else
                return null;
        }

        if (getCookieValue('norefm') != 1 && /Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator
            .userAgent)) {
            top.location.href = "";
        }
    </script>

    <script>
        var user_app =  new Vue({
            el:"#userCenter",
            data:{
                username:"",
                isLogin:false
            },
            created(){
                let cookie = getCookie("username");
                if(cookie.length>0){
                    this.isLogin=true;
                    this.username=cookie;
                }

            }
        })

    </script>
</head>

<body>
<div class="top-menu">
    <div class="container">
        <div class="download-app">
            <a class="app-android" href="" target="_blank"><i class="iconfont">&#xe607;</i>Android版</a>
            <a class="app-ios" href="" target="_blank"><i class="iconfont">&#xe60b;</i>iOS版</a><a class="app-index"
                                                                                                  href="index.html">首页</a>
        </div>
        <div class="guide-menu" id="userCenter">
            <div class="column" id="loginaction">
                <a v-if="!isLogin" href="http://localhost/oauth/login.html" class="login" id="headerLogin">登录</a>&ensp;
                <a v-if="!isLogin" href="" class="register" target="_blank" rel="nofollow">注册</a>
                <a v-if="isLogin" href="" class="userCenter">{{username}}</a>&ensp;

            </div>
            <!--
            根据cookie的值来判断是否登录
            
            -->


            <div class="column" id="userinfo" style="display: none;">&ensp;<a href="javascript:" class="register"
                                                                              id="logout">退出</a></div>
            <div class="column more bookcase" id="menubookcase">
                <a href="javascript:void(0);" class="my-book" id="mybookcase">我的书架</a>
                <em><i></i></em>
                <div id="menucnt2" class="menu-ct menu-ct-2">
                    <div id="mybc">
                        <span class="off"></span>
                        <span id="head_select_2" class="off" onclick="menuBookCase.setBookCaseTab(2)">我的书签</span>
                        <span id="head_select_1" class="on" onclick="menuBookCase.setBookCaseTab(1)">我的书架</span>
                        <span class="rblank"></span>
                    </div>
                    <ul id="mybctitle">
                        <li class="n0">序</li>
                        <li class="n1">书名</li>
                        <li class="n2">标签章节(加入时间)</li>
                        <li class="n3">作者</li>
                        <li class="n4">操作</li>
                    </ul>
                    <ul id="mybcasecnt1" class="menumybclist">
                        <div style="height:200px!important;line-height:200px!important;"><img border=0
                                                                                              style="width:32px;height:32px;"
                                                                                              src=""/>正在加载数据...
                        </div>
                    </ul>
                    <ul id="mybcasecnt2" class="menumybclist" style="display:none;">
                        <div style="height:200px!important;line-height:200px!important;"><img border=0
                                                                                              style="width:32px;height:32px;"
                                                                                              src=""/>正在加载数据...
                        </div>
                    </ul>
                </div>
            </div>
            <div class="column"><a href="" class="service" target="_blank" rel="nofollow">联系客服</a>
            </div>
        </div>
        <ul class="menu-style cl">
            <li><a href="" class=''>古代言情</a></li>
            <li><a href="" class=''>现代言情</a></li>
            <li><a href="" class=''>玄幻仙侠</a></li>
            <li><a href="" class=''>浪漫青春</a></li>
            <li><a href="" class=''>悬疑</a></li>
            <li><a href="" class=''>改编频道</a></li>
            <li><a href="">男生频道</a></li>
            <li><a href="" class=''>漫画频道</a></li>

        </ul>
    </div>
</div>
<input id="pagetoken" value="c21940f1e87a93cb24e35ccebe181269" type="hidden">
<script>
    window._pageToken = document.getElementById('pagetoken').value;
</script>


<div class="header">
    <div class="container">
        <div class="top-main cl">
            <a href="index.html" class="logo" style="width: 20%;">
                <img src="images/logo.png" alt="Foxes小说网" width="100%" height="100%">
            </a>
            <div class="guide-writer"><a class="become" href="" target="_blank"><i
                    class="iconfont">&#xe687;</i>我要当作家</a><a class="welfare" href="" target="_blank"><i
                    class="iconfont">&#xe600;</i>作家福利</a></div>
            <div class="search-bar">
                <form id="hform" name="hform" action="search.html" method="" target="_blank">
                    <input type="text" class="search-text" placeholder="霸道女总裁" name="" id="searchkeyword"><span
                        class="search-btn-bar"><i class="iconfont">&#xe627;</i><input type="submit" value=""
                                                                                      class="search-btn" id="gosearch"></span>
                </form>
            </div>
        </div>
        <div class="area_1200">
            <a href="" target="_blank">
                <img src='' class="bigimg" alt="广告位1">
            </a>
        </div>
        <div class="nav cl">
            <ul class="main-menu">
                <li><a href="" target="_self">全部作品</a></li>
                <li><a href="" target="_self">排行</a></li>
                <li><a href="" target="_self">完本</a></li>
                <li><a href="" target="_self">免费</a></li>
                <li><a href="" target="_blank">包月</a></li>
                <li><a href="" target="_self" class="colorred">影视改编</a></li>
                <li><a class="authorbonus" href="" target="_blank">领取红包</a></li>
            </ul>
            <div class="side-menu"><a class="writer homeauthor" href="" target="_blank"><i
                    class="iconfont">&#xe6bd;</i>作家专区</a><a class="client homeauthor" href="javascript:"
                                                            onclick=""><i class="iconfont">&#xe62d;</i>客户端</a></div>
        </div>
    </div>
</div>
<!-- end header -->
<div class="content">
    <div class="container">
        <div class="recommend-top cl">
            <div class="sidebar">
                <div class="box-con">
                    <div class="box-hd">
                        <h3 class="active">订阅金榜</h3>
                    </div>
                    <div class="box-bd">
                        <ul class="text-list">
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088632"
                                                                     tid="855">大神你人设崩了</a></li>
                            <li><span class="classify">[玄幻]</span><a href="" target="_blank" xid="1088629"
                                                                     tid="855">至尊神医之帝君要下嫁</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank" xid="1088631"
                                                                     tid="855">金凤华庭</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088636"
                                                                     tid="855">公主她在现代星光璀璨</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088635"
                                                                     tid="855">全能千金燃翻天</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank" xid="1088628"
                                                                     tid="855">山河盛宴</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank" xid="1088640"
                                                                     tid="855">侯门嫡女之一品夫人</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank" xid="1088630"
                                                                     tid="855">盛世娇宠之名门闺香</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088633"
                                                                     tid="855">人人都爱于休休</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088639"
                                                                     tid="855">席爷每天都想官宣</a></li>
                            <li><span class="classify">[玄幻]</span><a href="" target="_blank" xid="1088641"
                                                                     tid="855">灵妃倾天之妖帝已就擒</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088637"
                                                                     tid="855">夫人你马甲又掉了</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank" xid="1088642"
                                                                     tid="855">龙飞凤仵</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088634"
                                                                     tid="855">婚后被大佬惯坏了</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank" xid="1088638"
                                                                     tid="855">另类千金归来</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainbar">
                <div class="roasting">
                    <ul class="roastingslider">

                    </ul>
                </div>
                <div class="recommend-today tab-con">
                    <div class="hd tab-hd">
                        <h3 class="active">今日推荐</h3>
                        <h3>限时折扣</h3>
                    </div>
                    <div class="bd tab-bd">
                        <div class="bd-main">
                            <dl>
                                <dd><a href="" target="_blank" xid="1088039" tid="491">·她甜不可攀</a>
                                </dd>
                                <dd><a href="" target="_blank" xid="1088050" tid="493">·掌家娘子的团宠日常</a></dd>
                                <dd><a href="" target="_blank" xid="1088049" tid="493">·小宝寻亲记</a>
                                </dd>
                                <dd><a href="" target="_blank" xid="1085197" tid="492">·娘子万安</a>
                                </dd>
                                <dd><a href="" target="_blank" xid="1088045" tid="492">·幸好是你余生欢喜</a></dd>
                            </dl>
                            <dl>
                                <dd><a href="" target="_blank" xid="1088041" tid="491">·本王的老婆自己宠</a></dd>
                                <dd><a href="" target="_blank" xid="1088046" tid="492">·如意事</a>
                                </dd>
                                <dd><a href="" target="_blank" xid="1088051" tid="493">·穿成八零团宠黑女配</a></dd>
                                <dd><a href="" target="_blank" xid="1088047" tid="493">·驸马是个高危职业</a></dd>
                                <dd><a href="" target="_blank" xid="1088043" tid="492">·萌妃袭来之傲娇尊主你别跑</a></dd>
                            </dl>
                            <dl>
                                <dd><a href="" target="_blank" xid="1088044" tid="492">·逍遥章</a>
                                </dd>
                                <dd><a href="" target="_blank" xid="1088042" tid="491">·书穿八十年代小女不倒</a></dd>
                                <dd><a href="" target="_blank" xid="1088040" tid="491">·我成了神仙大佬心尖宠</a></dd>
                                <dd><a href="" target="_blank" xid="1088048" tid="493">·背靠爸爸好乘凉</a></dd>
                                <dd><a href="" target="_blank" xid="1088038" tid="491">·丧系大佬他背着我长歪了</a></dd>
                            </dl>
                        </div>
                        <div class="bd-main" style="display:none">
                            <div class="discountslider">
                                <div class="wrap">
                                    <ul class="discount-list cl">
                                        <li>
                                            <div class="discount-part" id="discount1085308"
                                                 data-time='2020-06-26T14:00:00'></div>
                                            <a class="book imgscalebook" href="" target="_blank"><span
                                                    class="dis-mark">5折</span><img class="imgscale" src=""></a>
                                            <h4><a href="" target="_blank">他来时有星光</a></h4>
                                            <p><a href="" target="_blank">北风未眠&ensp;/&ensp;著</a></p>
                                        </li>
                                        <li>
                                            <div class="discount-part" id="discount965754"
                                                 data-time='2020-06-26T14:00:00'></div>
                                            <a class="book imgscalebook" href="" target="_blank"><span
                                                    class="dis-mark">5折</span><img class="imgscale" src=""></a>
                                            <h4><a href="" target="_blank">重生八五最强医神</a></h4>
                                            <p><a href="" target="_blank">紫雨漪漪&ensp;/&ensp;著</a></p>
                                        </li>
                                        <li>
                                            <div class="discount-part" id="discount1082980"
                                                 data-time='2020-06-26T14:00:00'></div>
                                            <a class="book imgscalebook" href="" target="_blank"><span
                                                    class="dis-mark">5折</span><img class="imgscale" src=""></a>
                                            <h4><a href="" target="_blank">不二朝</a></h4>
                                            <p><a href="" target="_blank">平舒道&ensp;/&ensp;著</a></p>
                                        </li>
                                        <li>
                                            <div class="discount-part" id="discount970761"
                                                 data-time='2020-06-26T14:00:00'></div>
                                            <a class="book imgscalebook" href="" target="_blank"><span
                                                    class="dis-mark">5折</span><img class="imgscale" src=""></a>
                                            <h4><a href="" target="_blank">一指成仙</a></h4>
                                            <p><a href="" target="_blank">潭子&ensp;/&ensp;著</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extrabar">
                <div class="box-con">
                    <div class="box-hd">
                        <h3 class="active">书友力荐</h3>
                    </div>
                    <div class="box-bd">
                        <ul class="text-list">
                            <li><span class="classify">[现言]</span><a href="" target="_blank">大神你人设崩了</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank">爱在随遇而安</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank">人人都爱于休休</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank">绝世倾城之尊主归来</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank">今天大佬又不做人了</a></li>
                            <li><span class="classify">[玄幻]</span><a href="" target="_blank">徒儿你自寻死路</a></li>
                            <li><span class="classify">[古言]</span><a href="" target="_blank">重生王妃太难哄</a></li>
                            <li><span class="classify">[现言]</span><a href="" target="_blank">豪门谋婚之大佬宠妻入骨</a></li>
                        </ul>
                    </div>
                </div>
                <dl class="xxsy-news">
                    <dt>潇湘资讯</dt>
                    <dd><span class="classify">[公告] </span><a href="" target="_blank">5.1双倍月票即将来袭</a></dd>
                    <dd><span class="classify">[公告] </span><a href="" target="_blank">月票投票规则更新公告</a></dd>
                    <dd><span class="classify">[公告] </span><a href="" target="_blank">2020网络文学全明星</a></dd>
                    <dd><span class="classify">[公告] </span><a href="" target="_blank">同舟共济，文学力量</a>
                    </dd>
                    <dd><span class="classify">[公告] </span><a href="" target="_blank">潇湘包月库重磅升级</a></dd>
                    <dd><span class="classify">[公告] </span><a href="" target="_blank">“阅现实”云端颁奖礼</a></dd>
                </dl>
            </div>
            <div class="topic-rec-area cl" style="clear:both;">
                <a href="" target="_blank" xid="1088052" tid="499">
                    <img src="" alt="广告" class='mt-20 topic-rec-l'>
                </a>
                <a href="" target="_blank" xid="1088053" tid="499">
                    <img src="" alt="广告" class='mt-20 topic-rec-r'>
                </a>
            </div>
            <div class="ranking cl">
                <div class="ranking-time box-con tab">
                    <div class="box-hd">
                        <h3 class="active">月票榜</h3>
                    </div>
                    <div class="bd">
                        <ul class="ranking-list">
                            <li class="n1">
                                <a class="book" href="" target="_blank">
                                    <img data-src="">
                                </a>
                                <div class="detail">
                                    <span class="num">NO.1</span>
                                    <p class="name"><a href="" target="_blank">山河盛宴</a></p>
                                    <p class="piao"><em>4960</em>月票</p>
                                    <p class="author">古言&ensp;|&ensp;天下归元</p>
                                </div>
                            </li>
                            <li class="n2">
                                <span class="piao">3844</span>
                                <span class="num">2</span>
                                <p><a href="" target="_blank">大神你人设崩了</a></p>
                            </li>
                            <li class="n3">
                                <span class="piao">2861</span>
                                <span class="num">3</span>
                                <p><a href="" target="_blank">我全家都是穿来的</a></p>
                            </li>
                            <li class="n4">
                                <span class="piao">2544</span>
                                <span class="num">4</span>
                                <p><a href="" target="_blank">婚后被大佬惯坏了</a></p>
                            </li>
                            <li class="n5">
                                <span class="piao">2445</span>
                                <span class="num">5</span>
                                <p><a href="/info/1382225.html" target="_blank">席爷每天都想官宣</a></p>
                            </li>
                            <li class="n6">
                                <span class="piao">2429</span>
                                <span class="num">6</span>
                                <p><a href="/info/971626.html" target="_blank">前方高能</a></p>
                            </li>
                            <li class="n7">
                                <span class="piao">2415</span>
                                <span class="num">7</span>
                                <p><a href="/info/1429968.html" target="_blank">问丹朱</a></p>
                            </li>
                            <li class="n8">
                                <span class="piao">2117</span>
                                <span class="num">8</span>
                                <p><a href="/info/1382598.html" target="_blank">纨绔天医</a></p>
                            </li>
                            <li class="n9">
                                <span class="piao">2095</span>
                                <span class="num">9</span>
                                <p><a href="/info/1349331.html" target="_blank">红尘篱落</a></p>
                            </li>
                            <li class="n10">
                                <span class="piao">1822</span>
                                <span class="num">10</span>
                                <p><a href="/info/1093857.html" target="_blank">龙飞凤仵</a></p>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="ranking-hot box-con tab">
                    <div class="box-hd hd">
                        <h3 class="active" style="width:100px;">新书热销榜</h3>
                        <h3 style="width:100px;">新秀畅销榜</h3>
                    </div>
                    <div class="bd">
                        <ul class="ranking-list">
                            <li class="n1">
                                <span class="num">NO.1</span>
                                <a class="book" href="/info/1406701.html" target="_blank" xid="1088663" tid="538">
                                    <img data-src="">
                                </a>
                                <div class="detail">
                                    <p class="name"><a href="/info/1406701.html" target="_blank" xid="1088663"
                                                       tid="538">大神你人设崩了</a></p>
                                    <p class="author">作者：一路烦花</p>
                                    <p class="classify">分类：现言</p>
                                </div>
                            </li>
                            <li class="n2">
                                <span class="piao">恩很宅</span>
                                <span class="num">2</span>
                                <p><a href="/info/1404026.html" target="_blank" xid="1088664"
                                      tid="538">她儿砸被大佬盯上了</a></p>
                            </li>
                            <li class="n3">
                                <span class="piao">紫夜蓝夕</span>
                                <span class="num">3</span>
                                <p><a href="/info/1427423.html" target="_blank" xid="1088665"
                                      tid="538">不小心撩到个龙神大人</a></p>
                            </li>
                            <li class="n4">
                                <span class="piao">郁小棠</span>
                                <span class="num">4</span>
                                <p><a href="/info/1404062.html" target="_blank" xid="1088666" tid="538">宿主她又在崩剧情</a>
                                </p>
                            </li>
                            <li class="n5">
                                <span class="piao">肖战小粉</span>
                                <span class="num">5</span>
                                <p><a href="/info/1391607.html" target="_blank" xid="1088667" tid="538">相爷夫人又作妖</a>
                                </p>
                            </li>
                            <li class="n6">
                                <span class="piao">戚言</span>
                                <span class="num">6</span>
                                <p><a href="/info/1406896.html" target="_blank" xid="1088668"
                                      tid="538">豪门谋婚之大佬宠妻入骨</a></p>
                            </li>
                            <li class="n7">
                                <span class="piao">馨可儿</span>
                                <span class="num">7</span>
                                <p><a href="/info/1379741.html" target="_blank" xid="1088669" tid="538">永堕黑暗靠近你</a>
                                </p>
                            </li>
                            <li class="n8">
                                <span class="piao">任大豆</span>
                                <span class="num">8</span>
                                <p><a href="/info/1404167.html" target="_blank" xid="1088670"
                                      tid="538">锦绣田园之傻女超好运</a></p>
                            </li>
                            <li class="n9">
                                <span class="piao">星水云茜</span>
                                <span class="num">9</span>
                                <p><a href="/info/1417846.html" target="_blank" xid="1088671"
                                      tid="538">合同不让谈恋爱怎么办</a></p>
                            </li>
                            <li class="n10">
                                <span class="piao">珈蓝</span>
                                <span class="num">10</span>
                                <p><a href="/info/1417134.html" target="_blank" xid="1088672" tid="538">暖婚有你甜又苏</a>
                                </p>
                            </li>
                        </ul>
                        <ul class="ranking-list" style="display: none">
                            <li class="n1">
                                <span class="num">NO.1</span>
                                <a class="book" href="/info/1379993.html" target="_blank" xid="1088673" tid="851">
                                    <img data-src="">
                                </a>
                                <div class="detail">
                                    <p class="name"><a href="/info/1379993.html" target="_blank" xid="1088673"
                                                       tid="851">神捕大人又打脸了</a></p>
                                    <p class="author">作者：菌紫茶</p>
                                    <p class="classify">分类：悬疑</p>
                                </div>
                            </li>
                            <li class="n2">
                                <span class="piao">一船梦</span>
                                <span class="num">2</span>
                                <p><a href="/info/1399376.html" target="_blank" xid="1088674"
                                      tid="851">公主她在现代星光璀璨</a></p>
                            </li>
                            <li class="n3">
                                <span class="piao">娴语微微</span>
                                <span class="num">3</span>
                                <p><a href="/info/1379972.html" target="_blank" xid="1088675" tid="851">伯爵大人有点甜</a>
                                </p>
                            </li>
                            <li class="n4">
                                <span class="piao">肖战小粉</span>
                                <span class="num">4</span>
                                <p><a href="/info/1391607.html" target="_blank" xid="1088676" tid="851">相爷夫人又作妖</a>
                                </p>
                            </li>
                            <li class="n5">
                                <span class="piao">郁小棠</span>
                                <span class="num">5</span>
                                <p><a href="/info/1404062.html" target="_blank" xid="1088677" tid="851">宿主她又在崩剧情</a>
                                </p>
                            </li>
                            <li class="n6">
                                <span class="piao">伪装清纯</span>
                                <span class="num">6</span>
                                <p><a href="/info/1384318.html" target="_blank" xid="1088678" tid="851">一妃虽晚不须嗟</a>
                                </p>
                            </li>
                            <li class="n7">
                                <span class="piao">是果酱吖</span>
                                <span class="num">7</span>
                                <p><a href="/info/1391276.html" target="_blank" xid="1088679" tid="851">鲛人泪之画地为牢</a>
                                </p>
                            </li>
                            <li class="n8">
                                <span class="piao">云兮淼淼</span>
                                <span class="num">8</span>
                                <p><a href="/info/1378971.html" target="_blank" xid="1088680"
                                      tid="851">农家小团宠的躺赢人生</a></p>
                            </li>
                            <li class="n9">
                                <span class="piao">姜初九</span>
                                <span class="num">9</span>
                                <p><a href="/info/1364649.html" target="_blank" xid="1088681"
                                      tid="851">我家夫人是隐藏大佬</a></p>
                            </li>
                            <li class="n10">
                                <span class="piao">沐籽晓宴</span>
                                <span class="num">10</span>
                                <p><a href="/info/1399868.html" target="_blank" xid="1088682" tid="851">小娘子不凡</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ranking-update box-con tab">
                    <div class="box-hd hd">
                        <h3 class="active">更新榜</h3>
                    </div>
                    <div class="bd">
                        <ul class="ranking-list">
                            <li class="n1">
                                <span class="num">NO.1</span>
                                <a class="book" href="/info/1363450.html" target="_blank" xid="1088643" tid="536">
                                    <img data-src="">
                                </a>
                                <div class="detail">
                                    <p class="name"><a href="/info/1363450.html" target="_blank" xid="1088643"
                                                       tid="536">人人都爱于休休</a></p>
                                    <p class="author">作者：姒锦</p>
                                    <p class="classify">分类：现言</p>
                                </div>
                            </li>
                            <li class="n2">
                                <span class="piao">岁我思成</span>
                                <span class="num">2</span>
                                <p><a href="/info/1436530.html" target="_blank" xid="1088644" tid="536">顾盼生姿念念不忘</a>
                                </p>
                            </li>
                            <li class="n3">
                                <span class="piao">郁小棠</span>
                                <span class="num">3</span>
                                <p><a href="/info/1404062.html" target="_blank" xid="1088645" tid="536">宿主她又在崩剧情</a>
                                </p>
                            </li>
                            <li class="n4">
                                <span class="piao">月初姣姣</span>
                                <span class="num">4</span>
                                <p><a href="/info/1363431.html" target="_blank" xid="1088646" tid="536">婚后被大佬惯坏了</a>
                                </p>
                            </li>
                            <li class="n5">
                                <span class="piao">一路烦花</span>
                                <span class="num">5</span>
                                <p><a href="/info/1406701.html" target="_blank" xid="1088647" tid="536">大神你人设崩了</a>
                                </p>
                            </li>
                            <li class="n6">
                                <span class="piao">莫西凡</span>
                                <span class="num">6</span>
                                <p><a href="/info/1376190.html" target="_blank" xid="1088648" tid="536">九重华锦</a></p>
                            </li>
                            <li class="n7">
                                <span class="piao">明景</span>
                                <span class="num">7</span>
                                <p><a href="/info/1413058.html" target="_blank" xid="1088649"
                                      tid="536">在九十年代升职加薪</a></p>
                            </li>
                            <li class="n8">
                                <span class="piao">花间妖</span>
                                <span class="num">8</span>
                                <p><a href="/info/1412616.html" target="_blank" xid="1088650" tid="536">村花小妻凶又甜</a>
                                </p>
                            </li>
                            <li class="n9">
                                <span class="piao">蓝岚天空</span>
                                <span class="num">9</span>
                                <p><a href="/info/1419972.html" target="_blank" xid="1088651"
                                      tid="536">穿越后和王爷一起去种田</a></p>
                            </li>
                            <li class="n10">
                                <span class="piao">潇湘美娜</span>
                                <span class="num">10</span>
                                <p><a href="/info/1365704.html" target="_blank" xid="1088652"
                                      tid="536">重生空间之最强农女</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ranking-vote box-con tab">
                    <div class="box-hd hd">
                        <h3 class="active">潜力榜</h3>
                    </div>
                    <div class="bd">
                        <ul class="ranking-list">
                            <li class="n1">
                                <span class="num">NO.1</span>
                                <a class="book" href="/info/1445031.html" target="_blank" xid="1088653" tid="537">
                                    <img data-src="">
                                </a>
                                <div class="detail">
                                    <p class="name"><a href="/info/1445031.html" target="_blank" xid="1088653"
                                                       tid="537">国民男神他又绿了</a></p>
                                    <p class="author">作者：行走的叶阿回</p>
                                    <p class="classify">分类：现言</p>
                                </div>
                            </li>
                            <li class="n2">
                                <span class="piao">宝贝鹿鹿</span>
                                <span class="num">2</span>
                                <p><a href="/info/1444875.html" target="_blank" xid="1088654"
                                      tid="537">锦绣嫡女之赖上摄政王</a></p>
                            </li>
                            <li class="n3">
                                <span class="piao">黛笙</span>
                                <span class="num">3</span>
                                <p><a href="/info/1446546.html" target="_blank" xid="1088655"
                                      tid="537">先婚后爱之小夫人太狂傲</a></p>
                            </li>
                            <li class="n4">
                                <span class="piao">水果店的瓶子</span>
                                <span class="num">4</span>
                                <p><a href="/info/1444877.html" target="_blank" xid="1088656"
                                      tid="537">今天大佬又不做人了</a></p>
                            </li>
                            <li class="n5">
                                <span class="piao">木易宁</span>
                                <span class="num">5</span>
                                <p><a href="/info/1446802.html" target="_blank" xid="1088657" tid="537">寻找异能之主</a>
                                </p>
                            </li>
                            <li class="n6">
                                <span class="piao">落花月西</span>
                                <span class="num">6</span>
                                <p><a href="/info/1442449.html" target="_blank" xid="1088658" tid="537">这个角儿我包了</a>
                                </p>
                            </li>
                            <li class="n7">
                                <span class="piao">明眸若水</span>
                                <span class="num">7</span>
                                <p><a href="/info/1445543.html" target="_blank" xid="1088659" tid="537">最熟悉的最陌生的</a>
                                </p>
                            </li>
                            <li class="n8">
                                <span class="piao">翦玥</span>
                                <span class="num">8</span>
                                <p><a href="/info/1445061.html" target="_blank" xid="1088660" tid="537">归途之天佑无双</a>
                                </p>
                            </li>
                            <li class="n9">
                                <span class="piao">苏子欢</span>
                                <span class="num">9</span>
                                <p><a href="/info/1446527.html" target="_blank" xid="1088661" tid="537">她被大佬祸害了</a>
                                </p>
                            </li>
                            <li class="n10">
                                <span class="piao">罗晓07</span>
                                <span class="num">10</span>
                                <p><a href="/info/1444902.html" target="_blank" xid="1088662" tid="537">巴渝霸王花</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position:fixed;right:10px;bottom:10px;" id="weappimg">
    <div>
        <img id="wx" src="" alt="广告"/>
        <p>Foxes小程序上线啦</p>
        <p>打开微信扫一扫</p>
        <i class="iconfont">&#xe622;</i>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="friend-link">
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>


<script>

    $(function () {

        $.ajax({
            type: "GET",
            url: "carousel",
            async: false,
            success: function (response) {
                let images = response.data;

                for (let i = 0; i < images.length; i++) {

                    $(".roasting .roastingslider").append(
                        "<li><a href='" + images[i].url + "' target='_blank'>" +
                        "<img src='" + images[i].image + "'>" +
                        "</a>" +
                        "<div class='title'>" +
                        "<h4><a class='name' href='" + images[i].url + "' target='_blank' xid='1088115' tid='486'>" + images[i].name + "</a><span>" + images[i].author + "</span></h4> " +
                        "<p></p> </div> <div class='black-bg'></div> </li>"
                    )
                }

            }
        });

        $.ajax({
            type: "GET",
            url: "big",
            success: function (response) {
                let images = response.data;
                $(".area_1200 a").attr("href", "" + images.url);
                $(".area_1200 a .bigimg").attr("src", "" + images.image);
            }
        });

        $.ajax({
            type: "GET",
            url: "weixin",
            success: function (response) {
                let images = response.data;
                $("#wx").attr("src", "" + images.image);
            }
        });


        $.ajax({
            type: "GET",
            url: "small",
            success: function (response) {
                let images = response.data;
                $(".topic-rec-area a:first-child").attr("href", "" + images[0].url);
                $(".topic-rec-area a:first-child .mt-20").attr("src", "" + images[0].image);
                $(".topic-rec-area a:last-child").attr("href", "" + images[1].url);
                $(".topic-rec-area a:last-child .mt-20").attr("src", "" + images[1].image);


            }
        })


    })


</script>

<script src="js/Util.js"></script>
<script src="js/newmenutop.js"></script>

<script src="js/commonbox.js"></script>
<script src="js/lazyimgload.js"></script>
<script src="js/statpage_pc.js"></script>
<div id="statdiv" style="display:none;"></div>

<script src="js/jquery.bxslider.min.js"></script>
<script src="js/carousel.js"></script>
<script src="js/common.js"></script>
<script src="js/indexpage.js"></script>
<script>
    $(function () {
        indexPageInit(parseInt(4));
    })

    $('#weappimg i').click(function () {
        $('#weappimg').remove();
    })

    //顶部
    var topbannerslider = $('#topbannerslider');
    if (topbannerslider && topbannerslider.length > 0) {
        topbannerslider.bxSlider({
            mode: 'vertical',
            pager: false,
            auto: true,
            controls: false
        });
    }
</script>
<script src="js/commendclickbyjquery.js"></script>

</body>

</html>